@media screen and (min-width: 1200px) {
  .container {
    max-width: 1128px;
  }

  /* ---------- HEADER ---------- */

  .header {
    height: auto;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .adress-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .adress-mail,
  .adress-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* ---------- HERO ---------- */

  .hero {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/main-page/bg-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/main-page/bg-2x.jpg);
    }
  }

  /* ---------- ABOUT ---------- */

  .about > .container {
    max-width: 1158px;
  }

  .about-list {
    column-gap: 24px;
  }

  .about-item {
    width: calc((100% - 72px) / 4);
  }

  .about-item-icon-wrap {
    width: 100%;
    height: 112px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 4px;
  }

  .about-title {
    text-align: start;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  /* ---------- ABILITY ---------- */

  .ability > .container {
    max-width: 1158px;
  }

  .ability {
    display: block;
  }

  /* ---------- TEAM ---------- */

  .team > .container {
    max-width: 1158px;
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  /* ---------- Ð¡USTOMERS ---------- */

  .customers > .container {
    max-width: 1158px;
  }

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }

  /* ---------- FOOTER ---------- */

  .footer > .container {
    max-width: 1158px;
  }

  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-container {
    margin-right: 120px;
  }

  .footer-container-soc {
    margin-right: 80px;
  }

  .footer-email-title {
    margin-top: 0;
  }

  /* ------------------------ PORTFOLIO ------------------------ */

  .portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }

  .portfolio-filter-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    margin-bottom: 72px;
  }

  .portfolio-project-item {
    width: calc((100% - 48px) / 3);
  }
}
