@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }

  /* ---------- MENU ---------- */

  @media screen and (min-width: 450px) {
    .mob-menu-tel {
      font-size: 36px;
    }
  }

  /* ---------- TEAM ---------- */

  .team > .container {
    max-width: 294px;
  }
}
