/* ---------- GENERAL ---------- */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

:root {
  --main-title-color: #ffffff;
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --dark-color: #2e2f42;
  --success-color: #31d0aa;
  --text-color: #434455;
  --subtle-text-color: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color: #f4f4fd;
  --modal-overlay-color: rgba(46, 47, 66, 0.4);
  --hero-background-color: rgba(46, 47, 66, 0.7);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.link {
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.list {
  list-style: none;
}

.link:hover,
.link:focus,
.link.current {
  color: var(--pressed-state-color);
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  cursor: pointer;
}
/* ------------------------ MAIN PAGE ------------------------ */
/* ---------- HEADER ---------- */

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  border-bottom: 1px solid var(--accent-color);
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: var(--main-title-color);
  z-index: 1;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  margin-right: 76px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark-color);
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

.header-link {
  display: flex;
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.header-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  bottom: -25px;
  left: 0px;
}

.header-adress {
}
.adress-list {
  display: flex;
  gap: 40px;
}

.adress-mail,
.adress-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ---------- HERO ---------- */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--dark-color);
  background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)),
    url(../images/main-page/backgraund-hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-title {
  width: 496px;
  margin-bottom: 48px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.hero-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  min-width: 169px;
  height: 56px;
  background-color: var(--primary-brand-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state-color);
}

/* ---------- ABOUT ---------- */

.about {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--main-title-color);
}

.about-list {
  display: flex;
  gap: 24px;
}
.about-item {
  width: 264px;
}

.about-item-icon-wrap {
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-color);
  border-radius: 4px;
}

.about-item-icon {
}

.about-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.about-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

/* ---------- ABILITY ---------- */

.ability {
  padding-bottom: 120px;
  background-color: var(--main-title-color);
}
.ability-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}
.ability-list {
  display: flex;
  gap: 24px;
}

.ability-item {
}

/* ---------- TEAM ---------- */

.team {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-color);
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: var(--main-title-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-person {
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-pre-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.team-text {
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.list {
}

.team-soc-item {
  height: 40px;
  width: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-brand-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.team-soc-link:focus,
.team-soc-link:hover {
  background-color: var(--pressed-state-color);
}

/* ---------- Ð¡USTOMERS ---------- */

.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark-color);
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid var(--subtle-text-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--subtle-text-color);
  transition-property: border-color, color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.link:hover,
.link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}
.customers-icon {
  fill: currentColor;
}

/* ---------- FOOTER ---------- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--dark-color);
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer-container {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  padding-bottom: 16px;
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
}

.footer-text {
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.footer-container-soc {
  display: flex;
  flex-direction: column;
}

.footer-soc-title {
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  height: 40px;
  width: 40px;
}
.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.footer-soc-link:focus,
.footer-soc-link:hover {
  background-color: var(--success-color);
}

.footer-soc-icon {
}

.footer-email-title {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.footer-container-email-input form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  padding-right: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.subscribe-input::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
}

.subscribe-input:focus {
  border: 1px solid var(--primary-brand-color);
}

.btn-subscribe {
  min-width: 165px;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.btn-subscribe:hover,
.btn-subscribe:focus {
  background-color: var(--pressed-state-color);
}

.btn-subscribe span {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--main-title-color);
}
/* ------------------------ BACKDROP ------------------------ */

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--modal-overlay-color);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 24px;
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: 250ms var(--timing-function);
  transform: translate(-50%, -50%) scale(1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, 500%) scaleY(0);
}

.modal-close-btn {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
  fill: var(--main-title-color);
}

.modal-title {
  margin-bottom: 16px;
  padding-top: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.modal-field:nth-child(-n + 3) {
  margin-bottom: 8px;
}

.input-lable {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtle-text-color);
}

.input-wrap {
  position: relative;
  margin-top: 4px;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--dark-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-input:focus {
  border-color: var(--primary-brand-color);
}

.modal-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-input:focus + .modal-icon {
  fill: var(--primary-brand-color);
}

.modal-message {
  margin-top: 4px;
  width: 100%;
  height: 120px;
  padding: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: var(--dark-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-message:focus {
  border-color: var(--primary-brand-color);
}

.modal-message::placeholder {
  padding-top: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-field-check {
  margin-top: 16px;
  margin-bottom: 24px;
}

.check-text {
  display: flex;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #757575;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1.25px solid var(--dark-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.input-check:checked + .check-text span {
  background-color: var(--pressed-state-color);
  fill: var(--light-color);
  border: none;
}

.policy-link {
  color: var(--primary-brand-color);
  text-decoration: underline;
}

.modal-btn-wrap {
  display: flex;
  justify-content: center;
}

.modal-send-btn {
  min-width: 165px;
  height: 56px;
  color: var(--main-title-color);
  padding: 16px 32px;
  background-color: var(--primary-brand-color);
  border-radius: 4px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--pressed-state-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* ------------------------ PORTFOLIO ------------------------ */

.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-filter-list {
  display: flex;
  justify-content: center;
  padding: 0px;
  gap: 24px;
  margin-bottom: 72px;
}
.portfolio-filter-item {
}

.portfolio-btn {
  padding: 12px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  background-color: var(--light-color);
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--main-title-color);
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-project-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.portfolio-project-item {
  width: calc((100% - 48px) / 3);
}

.portfolio-project-link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--timing-function);
}

.portfolio-project-link:hover,
.portfolio-project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-project-link:hover .project-cover-text,
.portfolio-project-link:focus .project-cover-text {
  transform: translateY(0);
}

.project-cover-wrap {
  position: relative;
  overflow: hidden;
}

.project-cover-text {
  position: absolute;
  top: 0;
  padding: 40px 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light-color);
  background: var(--primary-brand-color);
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  overflow: auto;
}

.portfolio-project-wrap {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border: 1px solid var(--accent-color);
  border-top: none;
}

.portfolio-project-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark-color);
}

.portfolio-project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
