@media screen and (min-width: 768px) {
  .container {
    max-width: 736px;
  }

  /* ---------- HEADER ---------- */

  .header {
    height: 77px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-list {
    display: flex;
    gap: 40px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .adress-mail,
  .adress-tel {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .menu-button {
    display: none;
  }

  /* ---------- HERO ---------- */

  .hero {
    background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/main-page/bg-tab-1x.jpg);
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(var(--hero-background-color), var(--hero-background-color)), url(../images/main-page/bg-tab-2x.jpg);
    }
  }

  /* ---------- ABOUT ---------- */

  .about > .container {
    max-width: 766px;
  }

  .about-list {
    column-gap: 24px;
  }

  .about-item {
    width: calc((100% - 24px) / 2);
  }

  .about-title {
    text-align: start;
  }

  /* ---------- TEAM ---------- */

  .team > .container {
    max-width: 582px;
  }

  .team-list {
    column-gap: 24px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  /* ---------- Ð¡USTOMERS ---------- */

  .customers > .container {
    max-width: 582px;
  }

  .customers-item {
    width: calc((100% - 48px) / 3);
  }

  /* ---------- FOOTER ---------- */

  .footer > .container {
    max-width: 582px;
  }

  .footer .container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  .footer-logo {
    margin-left: initial;
  }

  .footer-soc-title {
    margin-left: initial;
  }

  .footer-container-email-input form {
    flex-direction: row;
    gap: 24px;
  }

  .footer-email-title {
    margin-top: 72px;
    margin-left: initial;
  }

  .subscribe-input {
    width: 264px;
  }

  /* ------------------------ BACKDROP ------------------------ */

  .modal {
    max-width: 408px;
  }

  /* ------------------------ PORTFOLIO ------------------------ */

  .portfolio {
    padding-top: 64px;
    padding-bottom: 64px;
  }

  .portfolio-filter-list {
    display: flex;
    justify-content: center;
    padding: 0px;
    gap: 24px;
    margin-bottom: 64px;
  }

  .portfolio-project-list {
    row-gap: 72px;
  }

  .portfolio-project-item {
    width: calc((100% - 24px) / 2);
  }
}
